.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: rgba(5, 11, 26, 0.7);
  backdrop-filter: blur(14px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  color: white;
}

.logo-box {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 2px solid #60a5fa;
  display: inline-block;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  font-size: 0.95rem;
  opacity: 0.8;
  color: #e5e7eb;
  text-decoration: none;
}

.nav-links a:hover {
  opacity: 1;
}

.nav-btn {
  padding: 10px 20px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 768px) {

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: #0b1224;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px 0;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .desktop-btn {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}
